@import (reference) "../../bootstrap-3.0.3/less/variables.less";
@import (reference) "../../bootstrap-3.0.3/less/mixins.less";
@import (reference) "../../bootstrap-3.0.3/less/theme.less";
@import (reference) "../../bootstrap-3.0.3/less/utilities.less";
@import (reference) "../../bootstrap-3.0.3/less/forms.less";
@import (reference) "../../bootstrap-3.0.3/less/navbar.less";
@import "skins/common/commonContent.css";
@base-url: "skins/bootstrap/bootstrap-3.0.3";
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('@{base-url}/fonts/glyphicons-halflings-regular.eot');
  src: url('@{base-url}/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('@{base-url}/fonts/glyphicons-halflings-regular.woff') format('woff'), url('@{base-url}/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('@{base-url}/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@inverse-text-color: #fff;
@accent-color: #000;

html{
	min-height:100%;
	position:relative;
}
body{
	margin-top:60px;
	min-height:100%;
	margin-bottom:200px;
}
#main-footer{
	position:absolute;
	bottom:0;
	width:100%;
}

#wpTextbox1{
	width:100%;
}
/* Styles applicable to all Bootstrap skin layouts */
#toc, .toc{
	width:auto;
	display:block;
}
.site-notice{
	.alert-info;
}


#top-nav{
	position:fixed;


}

.navbar{

	.title{
		display:inline;
	}

	@media (min-width: @screen-sm-min) {

		.nav .title{
			display:none;
		}
	}
}




.navbar-search{
	display:none;
	.navbar > &,
	.navbar > .container > &{
		@media (min-width: @screen-sm-min) {
			display: table-cell;
		}
	}
	.navbar-header > &{
		width:auto;
		float:left;
		.navbar-form{
			margin:0;
		}
		@media (min-width: @screen-sm-min) {
			display: none;
		}
	}


}
@media (max-width: @screen-sm-min) {
	.navbar-header{
		display:table;
		width:100%;
		margin:0;
		padding:0;
		.container > &{
			padding:0;
			margin:0;
		}
		.navbar-brand,
		.navbar-search,
		.navbar-menu-toggle{
			display:table-cell;
			border:1px solid red;
			float:none;
			vertical-align: top;
		}
	}
}
@media (min-width: @screen-sm-min) {

	#top-nav .container{
		display:table;
	}
	.navbar-search{
		position:static;
		max-width:300px;
	}
	.navbar-search, .navbar-header, #top-menu{
		display: table-cell;
		vertical-align: top;
	}
	#top-menu{
		.navbar-nav{
			> li{
			} 
		}
	}
}





#content-container{
	@media (min-width: @screen-md-min) {

		position: relative;

		/* Show the TOC as a sidebar on the left */
		&.has-toc{
			#toc{
				display:block;

				position:absolute;
				top:1em;
				left:0;
				width: 200px;

				background:rgba(0,0,0,0.05);

				border-radius: 5px;
				
				/* Hide the title when we're displaying as a sidebar */
				#toctitle{
					display:none;
				}
				
			}


			#content{
				margin-left:200px;
			}
		}

	}

	@media (min-width: @screen-lg-min) {
		/* Styles for showing a related links sidebar on the right */
		&.has-related{
			nav#related{

				position:absolute;
				top:1em;
				right:0;
				width: 150px;

				background:rgba(0,0,0,0.05);

				border-radius: 5px;

				.portlet{
					display:block;
					width:auto;

					border-right:none;
				}
			}

			#content{
				margin-right:150px;
			}
		}
	}

}


nav#related{
	.portlet{
		display:block;
		padding:10px;

		li > a{
			padding:0;
		}
	}

	@media (min-width: @screen-sm-min) {

		nav#related{
			.portlet{
				width:49%;

				display:inline-block;
				vertical-align:top;

				border-right:1px solid rgba(0,0,0,0.25);

				&:last-child{
					border-right:none;
				}
			}
		}
	}
}

#wpSave{
	.button-variant(@inverse-text-color, @accent-color, darken(@accent-color, 10%));
}

.multipleTemplateAdder{
	.button-variant(@inverse-text-color, @accent-color, darken(@accent-color, 10%));
}
