body {
  padding-top: 20px;
  padding-bottom: 20px;
}
#wpTextbox1{
	display:block;
	width:auto;
}
span.editsection{
	font-size:12px;
}

#content-actions{
	opacity:0.3;
	float:right;
	padding:5px;
	background:white;
	border-radius:5px;

	transition:opacity 0.3s;
}

#content:hover #content-actions{
	opacity:1;
}

#footer{
	margin: 10px 0 0 0;
	border-top:1px solid #ddd;
	padding:10px 20px 0 20px;
}

#footer ul{

}