.mw-specialpagesgroup {
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .mw-specialpages-table {
    display: block;
  }
  .mw-specialpages-table tbody,
  .mw-specialpages-table tr,
  .mw-specialpages-table td {
    display: block;
    width: 100% !important;
    padding: 0;
    margin: 0;
  }
  .mw-specialpages-table td:nth-child(2) {
    display: none;
  }
  .mw-specialpages-table td:first-child ul {
    margin-bottom: 0;
  }
}
@media (max-width: 1200px) {
  .mw-specialpages-table td:nth-child(1),
  .mw-specialpages-table td:nth-child(3) {
    width: 40%;
  }
  .mw-specialpages-table td:nth-child(2) {
    width: 10%;
  }
  .mw-specialpages-table td:nth-child(4) {
    display: none;
  }
}
#toc #toctitle h2 {
  display: inline-block;
  margin-bottom: 5px;
}
#toc ul {
  list-style: none;
  margin-top: 0;
}
#toc ul > li {
  margin-bottom: 0.1em;
}
#toc ul > li > ul > li {
  margin-bottom: 0;
}
#toc ul li ul {
  margin-left: 1em !important;
}
#toc ul li ul li a {
  font-size: 0.9em;
}
