#header-logo {
  display: inline-block;
}
@media (min-width: 768px) {
  .superhero.jumbotron {
    margin-top: -60px;
  }
}
#top-nav.superhero .navbar-brand,
#top-nav.superhero .navbar-search {
  transition: opacity 0.5s;
}
#top-nav .container {
  width: 100%;
}
/* Make the static navbar overlap the hero unit */
body.layout-superhero #top-nav.navbar {
  min-height: 50px;
  margin: 0;
  overflow: visible;
}
body.layout-superhero #page {
  margin-top: -50px;
}
@media (min-width: 768px) {
  body.layout-superhero #page {
    margin-top: 0;
  }
}
#top-nav.navbar {
  transition: background 0.4s;
}
#top-nav.navbar a {
  transition: color 0.4s;
}
#top-nav.navbar.transparent {
  background: transparent;
  border-color: transparent;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#top-nav.navbar.transparent a {
  color: #ffffff;
}
#top-nav.navbar.transparent .nav > li {
  background: transparent;
}
#top-nav.navbar.transparent .nav > li.open,
#top-nav.navbar.transparent .nav > li.open > a,
#top-nav.navbar.transparent .nav > li.open > a:active,
#top-nav.navbar.transparent .nav > li.open > a:focus,
#top-nav.navbar.transparent .nav > li.open > a:hover {
  background: transparent;
}
#top-nav.navbar.transparent .nav > li > a {
  color: #ffffff;
  background: transparent;
}
#top-nav.navbar.transparent .nav > li > a:hover,
#top-nav.navbar.transparent .nav > li > a:active,
#top-nav.navbar.transparent .nav > li > a:focus {
  background: transparent;
}
#top-nav.navbar.transparent .navbar-toggle {
  color: #fff;
}
@media (min-width: 768px) {
  #top-nav.navbar.transparent {
    /* Pull the arrow over to the right if the menu is pulled-right*/
  }
  #top-nav.navbar.transparent .dropdown-menu {
    border-radius: 5px;
  }
  #top-nav.navbar.transparent .dropdown-menu::before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
  }
  #top-nav.navbar.transparent .dropdown-menu::after {
    border-bottom: 6px solid #000000;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
  }
  #top-nav.navbar.transparent .navbar-right .dropdown-menu::before {
    left: inherit;
    right: 24px;
  }
  #top-nav.navbar.transparent .navbar-right .dropdown-menu::after {
    left: inherit;
    right: 25px;
  }
  #top-nav.navbar.transparent .dropdown-menu {
    background: #000000;
  }
  #top-nav.navbar.transparent .dropdown-menu > li > a {
    color: #ffffff;
    background-color: #000000;
  }
  #top-nav.navbar.transparent .dropdown-menu > li > a:hover,
  #top-nav.navbar.transparent .dropdown-menu > li > a:active,
  #top-nav.navbar.transparent .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #888888;
  }
}
@media (max-width: 768px) {
  #top-nav.navbar.transparent .navbar-brand,
  #top-nav.navbar.transparent .navbar-search {
    display: none;
  }
}
#top-nav.navbar.transparent .navbar-brand,
#top-nav.navbar.transparent .navbar-search {
  visibility: hidden;
  opacity: 0;
}
#top-nav.navbar.transparent + .jumbotron {
  box-shadow: none;
}
.navbar.superhero .container {
  width: auto;
}
/*.navbar.superhero{
  .navbar-nav{
    float: left;
    margin: 0;

    > li {
      float: left;
      > a {
        padding-top:    @navbar-padding-vertical;
        padding-bottom: @navbar-padding-vertical;
      }
    }

    &.navbar-right:last-child {
      margin-right: -@navbar-padding-horizontal;
    }
  }
}*/
