#top-nav {
  background: transparent;
}
#top-nav + .jumbotron {
  box-shadow: none;
}
#header-logo {
  display: inline-block;
}
.superhero.jumbotron {
  margin-top: -60px;
}
.navbar-transparent {
  background: transparent;
  border-color: transparent;
  color: #fff;
  /* Pull the arrow over to the right if the menu is pulled-right*/
}
.navbar-transparent a {
  color: #fff;
}
.navbar-transparent .nav > li {
  background: transparent;
}
.navbar-transparent .nav > li.open {
  background: transparent;
}
.navbar-transparent .nav > li > a {
  color: #fff;
  background: transparent;
}
.navbar-transparent .nav > li > a:hover,
.navbar-transparent .nav > li > a:active,
.navbar-transparent .nav > li > a:focus {
  background: transparent;
}
.navbar-transparent .nav .dropdown-menu {
  background: rgba(0, 0, 0, 0.2);
  /* Add the arrow */
}
.navbar-transparent .nav .dropdown-menu::before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  left: 9px;
  position: absolute;
  top: -7px;
}
.navbar-transparent .nav .dropdown-menu::after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 10px;
  position: absolute;
  top: -6px;
}
.navbar-transparent .nav .dropdown-menu li:hover {
  backgrond: transparent;
}
.navbar-transparent .nav .dropdown-menu li > a {
  color: #fff;
}
.navbar-transparent .nav .dropdown-menu li > a:hover {
  background: transparent;
}
.navbar-transparent .pull-right .dropdown-menu::before {
  left: inherit;
  right: 24px;
}
.navbar-transparent .pull-right .dropdown-menu::after {
  left: inherit;
  right: 25px;
}
